* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-size: 10px;
}

.container {
  max-width: 76rem;
}

.secret-knowledge-block {
  position: relative;
}

.foreground {
  background-image: url("./foreground.jpg");
  background-position: 50%;
  background-size: cover;
  border-radius: 2rem;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.list {
  background-color: #fff;
  clip-path: circle(0);
  display: flex;
  row-gap: 1rem;
  flex-wrap: wrap;
  padding: 6rem;
}

.item {
  padding: 0 2rem;
  width: calc(50% - 6rem); // 6rem = row-gap + padding .list + padding .item
}

button {
  background-color: #4eb543;
  border-color: #4eb543;
  color: #fff;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 2.2rem;
  position: relative;
  transition-property: box-shadow;
  transition-timing-function: linear;
  transition-duration: .2s;
  will-change: box-shadow;
}

button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  border: 1px solid #4eb543;
  transform: translate(0, 0);
  opacity: 0;
  transition-property: transform, opacity;
  transition-timing-function: linear;
  transition-duration: .2s;
  will-change: transform, opacity;
}

button:hover, button:focus-visible {
  background-color: #4eb543;
  border-color: #4eb543;
  box-shadow: 5px 5px rgba(78, 181, 67, .5);
}

button:hover:before, button:focus-visible:before {
  transform: translate(-8px, -8px);
  opacity: 1;
}

.link {
  color: #3527b6;
  font-family: Arial, sans-serif;
  font-size: 2.2rem;
  text-decoration: none;
  transition: 0.2s color;
}

.link:hover, .link:focus {
  color: #302683;
  text-decoration: underline;
  text-decoration-thickness: 0.05em;
  text-underline-offset: 0.13em;
  text-decoration-skip-ink: none;
}
